<nav>
    <div id="logo">ACNH Villagers</div>
    <a href='/villagers'>Home</a>
    <a href="/villagers/new">New</a>
    <a href='/villagers/favorites'>Favorites</a>
    <a href='/user/signup'>Login</a>
</nav>