@font-face {
  font-family: FOT-Rodin;
  src: url("./FOT-Rodin\ Pro\ UB.otf") format("opentype");
}

@font-face {
  font-family: Seurat-Pro;
  src: url("./FOT-Seurat\ Pro\ B.otf") format("opentype");
}

body {
    background-image: url("https://i.redd.it/4124xor7bmo41.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
    font-family: FOT-Rodin;
  }

nav {
  background-color: #c48d3f;
  color: white;
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

nav a {
  padding: 10px 50px;
  font-size: 2.1vw;
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

nav div {
  display: flex;
  position: absolute;
  padding: 10px 50px;
  left: 0px;
  font-size: 2.1vw;
}

nav a:hover {
  background-color: #fff563;
}

#iconimg {
  background-color: #d8ccb6;
  border-style: solid;
  border-color: #9e8364;
  border-radius: 25px;
  margin: 10px;
  width: 128px;
  height: auto;
}

#iconimg:hover {
  background-color: #9dffb0;
  border-color: #81f1f7;
}

#iconall {
  text-align: center;
}

.button {
  background-color: #fdeb9f;
  color: #7a6837;
  font-family: FOT-Rodin;
  margin: 10px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  transition-duration: 0.3s;
  font-size: 16px;
  table-layout: fixed;
  width: 10vw;
}

.button:hover {
  background-color: #7a6837;
  color: #fdeb9f;
}

.sticky {
  position: fixed;
  margin: -8px;
  width: 100%
}

/* SHOW PAGE */

#showimg {
  border-radius: 5px;
}

#textflex {
  font-family: Seurat-Pro;
  background-color: #fffae4;
  color: #7a6e55;
  display: flex;
  align-items: center;
  padding: 0px 30px 0px 30px;
  border: solid;
  border-radius: 20px;
  border-width: 3px;
  border-color: #7a6e55;
  margin-top: 5vw;
}

#imgflex {
  display: flex;
  align-items: center;
  background-color: #fffae4;
  padding: 0px 30px 0px 30px;
  border: solid;
  border-radius: 20px;
  border-width: 10px;
  border-color: #7a6e55;
  margin-top: 5vw;
}

h2 {
  display: flex;
  justify-content: space-evenly;
}

#editflex {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

#allbuttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  left: 50vw;
  right: 50vw;
}

/* NEW PAGE */

#newvill {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

fieldset {
  font-family: Seurat-Pro;
  background-color: #eff1d7;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3vw;
  border-color: #61b858;
  border-radius: 5px;
  color: #625336;
}

input[type=text], input[type=password] {
  font-family: Seurat-Pro;
  width: 20vw;
  background-color: #dcedc9;
  border: none;
  color: #5a5536;
}

::placeholder {
  opacity: 50%;
}

#newsubmit {
  background-color: #00b6a7;
  color: #f1ffff;
  border: none;
  padding: 1vw;
  border-radius: 10px;
  font-family: Seurat-Pro;
  margin-top: 1vw;
  cursor: pointer;
  transition: transform .2s;
}

#newsubmit:hover {
  transform: scale(1.1);
}

/* SIGNUP PAGE */

#signup {
  font-family: Seurat-Pro;
  background-color: #e3c691;
  border-color: #a9916c;
  border-radius: 5px;
  color: #7f5f3b;
  padding: 6vw 3vw 6vw 3v;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#userfield {
  background-color: #ecbb4e;
  border: none;
}

#userpage {
  display: flex;
  justify-content: center;
  margin-top: 8vw;
}

#logout {
  display: flex;
  background-color: #5e5f56;
  color: #f7f7f3;
  border: none;
  padding: 1vw;
  border-radius: 10px;
  font-family: Seurat-Pro;
  cursor: pointer;
  text-decoration: none!important;
}

/* FAVORITES */

#inprogress {
  margin-left: 25vw;
}