@font-face {
  font-family: FOT-Rodin;
  src: url("./FOT-Rodin\ Pro\ UB.otf") format("opentype");
}

body {
    background-image: url("https://i.redd.it/4124xor7bmo41.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
    font-family: FOT-Rodin;
  }

nav {
  background-color: #c48d3f;
  color: white;
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

nav a {
  padding: 10px 50px;
  font-size: 2.1vw;
  text-decoration: none;
  color: inhert;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

nav div {
  display: flex;
  position: absolute;
  padding: 10px 50px;
  left: 0px;
  font-size: 2.1vw;
}

nav a:hover {
  background-color: #fff563;
}

#iconimg {
  background-color: #d8ccb6;
  border-style: solid;
  border-color: #9e8364;
  border-radius: 25px;
  margin: 10px;
  width: 128px;
  height: auto;
}

#iconimg:hover {
  background-color: #9dffb0;
  border-color: #81f1f7;
}

#iconall {
  text-align: center;
}

.sticky {
  position: fixed;
  margin: -8px;
  width: 100%
}