<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <nav>
        <div id="logo">ACNH Villagers</div>
        <a href='/villagers'>Home</a>
        <a href="/villagers/new">New</a>
        <a href='/villagers'>Favorites</a>
        <a href='/villagers'>Login</a>
    </nav>
    <div id="iconall">
        <!-- display all villager icons -->
        <% for (let i = 0; i < villagers.length; i++) { %>
            <!-- <a href="/villagers/<%= villagers[i].name['name-USen'] %>"> -->
            <% if (i % 11 === 0) { %>
                <br>
            <% } %>
            <a href="/villagers/<%= villagers[i]._id %>"><img src="<%= villagers[i].icon_uri %>" id="iconimg"></a>
        <% } %>
    </div>
</body>
</html>