<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC:NH Villagers</title>
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <nav>
        <div id="logo">ACNH Villagers</div>
        <a href='/villagers'>Home</a>
        <a href="/villagers/new">New</a>
        <a href='/villagers'>Favorites</a>
        <a href='/villagers'>Login</a>
    </nav>
    <div>
        <!-- display all villager icons -->
        <% for (let i = 0; i < villagers.length; i++) { %>
            <!-- <a href="/villagers/<%= villagers[i].name['name-USen'] %>"> -->
            <a href="/villagers/<%= villagers[i]._id %>">
                <img src="<%= villagers[i].icon_uri %>">
            </a>

        <% } %>
    </div>
</body>
</html>